:root {
    --var-grey: #4A4A4A;
    --var-darkgrey: #222222;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.container {
    width: 90vw;
    margin: auto;
}

img {
    max-width: 100%;
}


/* Utility */

.d-flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}


.align-center {
    align-items: center;
}

.align-baseline {
    align-items: flex-end;
}


/* #region header */


.view {
    
    color: white;
    padding: 1rem;
    font-size: 24px;
}




.fullscreen i {
    color: white;
    

}


.speaker-view, .fullscreen {
    padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    background-color: var(--var-grey);
    border-radius: 10px;
}

.speaker-view {
    margin-right: 1rem;
}



.text {
    padding-left: 0.5rem;
}



/* #endregion header*/


/* #region main */
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.box {
    width: calc(100%/7);
    padding-right: 1rem;
    position: relative;

}

.box span {
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
}

.mic_status i {
    margin-right: 0.2rem;
}




/* #endregion main*/



/* #region footer */

footer {
    height: 10vh;
    background-color: var(--var-darkgrey);
}

/* #endregion footer*/


