:root {
    --var-grey: #4A4A4A;
    --var-darkgrey: #222222;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.container {
    width: 80vw;
}


/* Utility */

.d-flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}


.align-center {
    align-items: center;
}


/* #region header */


.view {
    
    color: white;
    padding: 1rem;
    font-size: 24px;
}

.view span {
    vertical-align: middle;
}


.fullscreen i {
    color: white;
    

}


.speaker-view, .fullscreen {
    padding: 0.5rem;
    background-color: var(--var-grey);
    border-radius: 10px;
}

.speaker-view {
    margin-right: 1rem;
}



.text {
    padding-left: 0.5rem;
}



/* #endregion header*/


/* #region main */



/* #endregion main*/



/* #region footer */

/* #endregion footer*/


